<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <section class="container px-0 py-lg-10">
        <div class="mb-4 rounded-3 position-relative">
          <picture>
            <source media="(min-width: 992px)" srcset="../assets/images/banner.png" />
            <img src="../assets/images/banner-sm.png" alt="" class="w-100" />
          </picture>
          <div class="banner-title ps-lg-9 text-lg-start text-center text-white w-100">
            <h3 class="fs-lg-5 fs-6 mb-lg-3 mb-1">獻給新世代的生活風格誌</h3>
            <h2 class="fs-lg-1 fs-3 mb-lg-5 mb-4">一起探索生活的無限可能</h2>
            <button class="btn btn-secondary-200 fs-lg-5" type="button">
              馬上訂閱<i class="bi bi-arrow-right ms-2"></i>
            </button>
          </div>
        </div>
      </section>

      <section class="container py-lg-10 py-8">
        <h2 class="fs-lg-2 fs-4 mb-5">熱門主題</h2>
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 gy-5">
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-1.png" />
                <img src="../assets/images/theme-1-sm.png" alt="" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-1.png" />
                <img src="../assets/images/theme-1-sm.png" alt="" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-1.png" />
                <img src="../assets/images/theme-1-sm.png" alt="" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-1.png" />
                <img src="../assets/images/theme-1-sm.png" alt="" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-1.png" />
                <img src="../assets/images/theme-1-sm.png" alt="" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-1.png" />
                <img src="../assets/images/theme-1-sm.png" alt="" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-1.png" />
                <img src="../assets/images/theme-1-sm.png" alt="" class="w-100" />
              </picture>
            </div>
          </div>
          <div class="col">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-1.png" />
                <img src="../assets/images/theme-1-sm.png" alt="" class="w-100" />
              </picture>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-primary-200">
        <div class="container position-relative py-lg-10 py-8">
          <div class="hito-content">
            <h2 class="fs-lg-2 fs-4 mb-5">熱門主題</h2>
            <p class="fs-3">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero repellendus assumenda modi neque enim,
              dicta consequuntur repudiandae, tenetur voluptas corrupti fugit laborum voluptatibus ex sed sunt dolores
              porro animi. Fugit.
            </p>
          </div>
        </div>
      </section>

      <section class="py-10">
        <div class="container">
          <div class="row align-items-lg-center">
            <div class="col-lg-6 text-lg-start text-center mb-lg-0 mb-9">
              <h2 class="fs-lg-2 fs-4 mb-5">Vivre 給你意想不到的生活風格提案</h2>
              <button class="btn btn-secondary-200 fs-lg-5" type="button">
                馬上訂閱<i class="bi bi-arrow-right ms-2"></i>
              </button>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
              <ul class="row list-unstyled d-none d-lg-flex">
                <li class="col-lg-6 mt-lg-7">
                  <div class="position-relative">
                    <p
                      class="position-absolute d-flex align-items-center top-0 start-0 ms-3 translate-middle text-secondary-300 bg-white position-absolute start-0 top-0 ms-3 translate-middle-y fs-5 p-2 fw-bold"
                    >
                      <i class="bi bi-caret-right-fill me-1 fs-6 align-top"></i>編輯推薦
                    </p>
                    <img src="../assets/images/projects-1.png" alt="" />
                  </div>
                </li>
                <li class="col-lg-6">
                  <div class="position-relative">
                    <p
                      class="position-absolute d-flex align-items-center top-0 start-0 ms-3 translate-middle text-secondary-300 bg-white position-absolute start-0 top-0 ms-3 translate-middle-y fs-5 p-2 fw-bold"
                    >
                      <i class="bi bi-caret-right-fill me-1 fs-6 align-top"></i>編輯推薦
                    </p>
                    <img src="../assets/images/projects-1.png" alt="" />
                  </div>
                </li>
                <li class="col-lg-6 mt-lg-7">
                  <div class="position-relative">
                    <p
                      class="position-absolute d-flex align-items-center top-0 start-0 ms-3 translate-middle text-secondary-300 bg-white position-absolute start-0 top-0 ms-3 translate-middle-y fs-5 p-2 fw-bold"
                    >
                      <i class="bi bi-caret-right-fill me-1 fs-6 align-top"></i>編輯推薦
                    </p>
                    <img src="../assets/images/projects-1.png" alt="" />
                  </div>
                </li>
                <li class="col-lg-6">
                  <div class="position-relative">
                    <p
                      class="position-absolute d-flex align-items-center top-0 start-0 ms-3 translate-middle text-secondary-300 bg-white position-absolute start-0 top-0 ms-3 translate-middle-y fs-5 p-2 fw-bold"
                    >
                      <i class="bi bi-caret-right-fill me-1 fs-6 align-top"></i>編輯推薦
                    </p>
                    <img src="../assets/images/projects-1.png" alt="" />
                  </div>
                </li>
              </ul>
              <div class="swiper project-swiper d-lg-none">
                <ul class="swiper-wrapper list-unstyled py-5">
                  <li class="swiper-slide">
                    <div class="position-relative">
                      <p
                        class="position-absolute d-flex align-items-center top-0 start-0 ms-3 translate-middle text-secondary-300 bg-white position-absolute start-0 top-0 ms-3 translate-middle-y fs-5 p-2 fw-bold"
                      >
                        <i class="bi bi-caret-right-fill me-1 fs-6 align-top"></i>編輯推薦
                      </p>
                      <img src="../assets/images/projects-1.png" alt="" class="w-100 object-fit-cover" />
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="position-relative">
                      <p
                        class="position-absolute d-flex align-items-center top-0 start-0 ms-3 translate-middle text-secondary-300 bg-white position-absolute start-0 top-0 ms-3 translate-middle-y fs-5 p-2 fw-bold"
                      >
                        <i class="bi bi-caret-right-fill me-1 fs-6 align-top"></i>編輯推薦
                      </p>
                      <img src="../assets/images/projects-1.png" alt="" class="w-100 object-fit-cover" />
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="position-relative">
                      <p
                        class="position-absolute d-flex align-items-center top-0 start-0 ms-3 translate-middle text-secondary-300 bg-white position-absolute start-0 top-0 ms-3 translate-middle-y fs-5 p-2 fw-bold"
                      >
                        <i class="bi bi-caret-right-fill me-1 fs-6 align-top"></i>編輯推薦
                      </p>
                      <img src="../assets/images/projects-1.png" alt="" class="w-100 object-fit-cover" />
                    </div>
                  </li>
                  <li class="swiper-slide">
                    <div class="position-relative">
                      <p
                        class="position-absolute d-flex align-items-center top-0 start-0 ms-3 translate-middle text-secondary-300 bg-white position-absolute start-0 top-0 ms-3 translate-middle-y fs-5 p-2 fw-bold"
                      >
                        <i class="bi bi-caret-right-fill me-1 fs-6 align-top"></i>編輯推薦
                      </p>
                      <img src="../assets/images/projects-1.png" alt="" class="w-100 object-fit-cover" />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
